# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/

# Environment variables
.env
.env.*

# IDE / editor files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Log files
logs/
*.log

# Pytest
.cache/
.pytest_cache/

# Mypy, coverage, and testing
.mypy_cache/
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
*.cover

# Build artifacts
build/
dist/
*.egg-info/

# Ignore specific file
app/core/swagger.py

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
ehthumbs.db
